/* .playlists__title {
  padding: 40px 0 20px 0;
  font-size: 1.8em;
}

.playlists__section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 0;
}

.row__playlists--item {
  margin-right: 10px;
  padding: 20px 20px;
  height: 100%;
  border-radius: 10px;
  max-width: 200px;
  transition: all 0.3s ease-in-out;
}
.row__playlists--item:hover {
  transform: scale(1.04);
}

.playlists__img-container {
  min-width: 140px;
  max-width: 180px;
  min-height: 140px;
  max-height: 180px;
}

.playlists__img-container--img {
  min-width: 100%;
  height: 100%;
}

.playlists__data {
  font-size: 1.05em;
  word-break: break-all;
}
.playlists__data--name {
  font-weight: 500;
}
.playlists__data--artist {
  font-size: 0.8em;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlists__link {
  width: 96%;
}

.headphones-image {
  background-image: url("../../assets/imgs/register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  filter: opacity(0.1) grayscale(5);
  z-index: -1;
}

.image-z {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 1670px) {
  .playlists__section {
    grid-template-columns: repeat(5, 1fr);
  }
  .playlists__title {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 1390px) {
  .playlists__section {
    grid-template-columns: repeat(5, 1fr);
  }
  .row__playlists--item {
    max-width: 120px;
    padding: 10px;
    margin-right: 0;
  }
  .playlists__img-container {
    max-width: 100px;
    min-width: unset;
    max-height: 100px;
    min-height: unset;
  }
  .playlists__title {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 985px) {
  .playlists__section {
    grid-template-columns: repeat(4, 1fr);
  }
  .row__playlists--item:hover {
    transform: none;
  }
}
@media screen and (max-width: 795px) {
  .playlists__section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .playlists__section {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .row__playlists--item {
    display: flex;
    padding: 5px 15px 5px 5px;
    margin: auto;
    flex-direction: column;
    min-width: 100px;
    max-width: 100px;
    max-height: 150px;
    overflow-y: hidden;
  }
  .playlists__img-container {
    height: 100%;
    min-width: 80px;
    max-width: 80px;
    max-height: 70px;
    margin-right: 14px;
  }
  .playlists__data {
    margin-top: 0;
    font-size: 0.8em;
  }
  .playlists__title {
    font-size: 1em;
    padding-left: 5%;
  }
}
@media screen and (max-width: 450px) {
  .playlists__section {
    grid-template-columns: repeat(4, 1fr);
  }
  .row__playlists--item {
    max-width: 95%;
    flex-direction: column;
    max-width: 80px;
    min-width: 80px;
    max-height: 120px;
  }
  .playlists__img-container {
    max-width: 60px;
    min-width: 60px;
    max-height: 60px;
    margin-right: 10px;
  }
  .playlists__data {
    font-size: 0.7em;
  }
} */
