.user-profile-img {
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
}

.background-div {
  min-width: 50vw;
  min-height: 50vh;
  position: fixed;
  opacity: 0.1;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}