.main-home {
  width: calc(100% - 208px);
  margin-left: 208px;
}

.home {
  max-width: 80%;
  margin: 120px auto 0 auto;
  z-index: 10;
  position: relative;
}

.home__carousel {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  margin: 0 auto;
}

.home__sections {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  height: 350px;
}

@media screen and (max-width: 1940px) {
  .home__sections {
    position: static;
    justify-content: space-around;
    width: 100%;
  }
}

@media screen and (max-width: 1510px) {
  .home__carousel {
    min-width: 80%;
  }
}

@media screen and (max-width: 1180px) {
  .home {
    max-width: 70%;
  }
}

@media screen and (max-width: 920px) {
  .home {
    max-width: 75%;
    margin: 80px auto 0 auto;
  }
  .home__carousel {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .home__sections {
    flex-direction: column;
    justify-content: center;

  }
}

@media screen and (max-width: 768px) {
  .main-home {
    width: 100%;
    margin-left: 0;
  }
  .home {
    max-width: 75%;
  }
}

@media screen and (max-width: 470px) {
  .home {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-home {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
}

/* HOMEPAGE BACKGROUND SECTION */

.transition-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}
.transition-img.loaded {
  opacity: 0.1;
}
