.section {
  filter: opacity(0.1);
  transition: all 0.5s ease-in-out;
  width: 29%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
}
.section.loaded {
  filter: opacity(1);
}

.section__title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

@media screen and (max-width: 1940px) {
  .section {
    width: 47%;
  }
}

@media screen and (max-width: 920px) {
  .section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 0;
  }
  .section__title {
    text-align: center;
    margin-bottom: 20px;
  }
}
