.register {
  position: relative;
  z-index: 10;
}

.register-image {
  background-image: url('../imgs/register.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  filter: opacity(.1) grayscale(5);
}