/* HEADPHONES REGISTER , LOGIN AND ACCOUNT */

.image-z {
  position: relative;
  z-index: 10;
}

.headphones-image {
  background-image: url("../imgs/register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  filter: opacity(0.1) grayscale(5);
  z-index: 0;
}

/* USEFUL STYLES */

.bg-primary-color {
  background-color: var(--primary-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.border-pirmary-color {
  border-color: var(--primary-color);
}

.bg-box-icons {
  background-color: var(--bg-box-icons) !important;
}

.box-shadow {
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.363);
  border: 1px solid rgba(0, 0, 0, 0.329);
}

/* LIKED SONGS SECTION AND CATEGORIES */

.user-profile-img {
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
}

.background-div {
  min-width: 50vw;
  min-height: 50vh;
  position: fixed;
  opacity: 0.1;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HOMEPAGE BACKGROUND SECTION */

.transition-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.transition-img.loaded {
  opacity: 0.1;
}

/* SEARCH GRID SECTION */

.search-grid {
  padding: 20px;
}

.sound-box {
}
.sound-box .img-container {
}
.sound-box .img-container img {
}

@media screen and (min-width: 2300px) {
  .search-grid {
    grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
  }
}

@media screen and (min-width: 1535px) and (max-width: 1850px) {
  .search-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 768px) {
  .bg-box-icons {
    background-color: #3f3f46 !important;
  }
}

@media screen and (min-width: 450px) and (max-width: 640px) {
  .sound-box {
    display: flex;
    flex-flow: row wrap !important;
    padding: 10px !important;
    padding-bottom: 0 !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
  }
  .sound-box .img-container {
    width: 100%;
    min-width: 80px !important;
    max-width: 80px !important;
    max-height: 80px !important;
    min-height: 80px !important;
  }
  .sound-box .img-container img {
    min-width: 80px !important;
    max-width: 80px !important;
    max-height: 80px !important;
    min-height: 80px !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 450px) {
  .sound-box {
    display: flex;
    flex-flow: column wrap !important;
    padding: 10px !important;
    padding-bottom: 0 !important;
  }
  .sound-box .img-container {
    width: 100%;
    min-width: 220px !important;
    max-width: 220px !important;
    max-height: 220px !important;
    min-height: 220px !important;
  }
  .sound-box .img-container img {
    min-width: 220px !important;
    max-width: 220px !important;
    max-height: 220px !important;
    min-height: 220px !important;
  }
}
