.image-z {
  position: relative;
  z-index: 10;
}

.headphones-image {
  background-image: url("../imgs/register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  filter: opacity(0.1) grayscale(5);
  z-index: 0;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.border-pirmary-color {
  border-color: var(--primary-color);
}

.bg-box-icons {
  background-color: var(--bg-box-icons) !important;
}

.home-carousel {
  max-height: 560px;
  z-index: 10;
}

.user-profile-img {
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
}

.transition-img {
  filter: blur(20px);
  transition: all .6s ease-in-out;
}
.transition-img.loaded {
  filter: blur(0);
}

.box-shadow {
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.363);
  border: 1px solid rgba(0, 0, 0, 0.329);
}

@media screen and (max-width: 768px) {
  .bg-box-icons {
    background-color: #3f3f46 !important;
  }
};
