@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback");

@import "./home/home-section.css";
@import "./home/category-slider.css";
@import "./home/home.css";
@import "./categories/categories.css";
@import "./main/main.css";
@import "./search/search.css";
@import "./player.css";
@import "./utils.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

[x-cloak=""] {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
