@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback");

/* OWN STYLES */

@import "./utils.css";


/* TAILWIND CONFIGURATION */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

[x-cloak=""] {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

svg:hover {
  fill: #ef5567
}
