.row {
  margin: 100px 0 70px 0;
  height: fit-content;
  z-index: 10;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.row__list {
  width: 100%;
  display: flex;
  max-height: 450px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  z-index: 15 !important;
  position: relative;
}

.row__list--item {
  margin-right: 10px;
  padding: 20px 20px;
  height: 100%;
  border-radius: 10px;
  transition: all .3s ease-in;
  max-width: fit-content;

}
.row__list--item:hover {
  transform: scale(1.01);
}

.row__arrows {
  width: 100%;
  display: flex;
  position: absolute;
  height: 90%;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
}

.row__arrows--arrow {
  width: 30px;
  height: 140px;
  padding: 0;
  background-color: rgba(70, 70, 70, 0.555);
  cursor: pointer;
}
.row__arrows--arrow:hover {
  opacity: 0.2;
}

.list__img-container {
  width: 140px;
  height: 140px;
}

.list__img-container--img {
  max-height: 140px;
  object-fit: cover;
  transition: all 0.12s ease-in;
  height: 100%;
  min-width: 100%;
}

.list__data {
  margin-top: 15px;
  font-size: 1.05em;
  word-break: break-all;
  max-width: 140px;
}
.list__data--name {
  font-weight: 500;
}
.list__data--artist {
  font-size: 0.8em;
  font-style: italic;
}

@media screen and (max-width: 1880px) {
  .list__img-container {
    max-width: 120px;
    height: unset;
  }
  .list__img-container--img {
    height: unset;
  }
}

@media screen and (max-width: 1580px) {
  .list__img-container {
    max-width: 100px;
  }
  .row__list--item {
    padding: 10px;
  }
  .list__data {
    font-size: 0.8em;
  }
  .row__arrows {
    height: 80%;
  }
  .row__arrows--arrow {
    width: 20px;
    height: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .list__img-container {
    max-width: 80px;
  }
}

@media screen and (max-width: 920px) {
  .list__img-container {
    max-width: 60px;
  }
  .list__data {
    font-size: 0.6em;
  }
  .row__arrows {
    height: 75%;
  }
  .row__arrows--arrow {
    width: 18px;
    height: 70px;
  }
}

@media screen and (max-width: 450px) {
  .list__img-container {
    max-width: 50px;
  }
  .list__data {
    font-size: 0.6em;
  }
  .row__list--item {
    border-radius: 0;
    padding: 5px;
    margin-right: 5px;
  }
  .row__arrows {
    height: 70%;
  }
  .row__arrows--arrow {
    width: 16px;
    height: 60px;
  }
}
